ZipSearchSOAP/Service References/dqwsZipSearch/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:mdWebServiceZipSearch" elementFormDefault="qualified" targetNamespace="urn:mdWebServiceZipSearch" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Request">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="TransmissionReference" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CustomerID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SearchType" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="OptOfficialCityNameOnly" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="City" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="State" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Zip" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Country" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResponseArray">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Version" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TransmissionReference" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Results" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TotalRecords" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ZipRecord">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="RecordID" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Zip" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ZipType" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="City">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
                  <xs:element minOccurs="0" maxOccurs="1" name="Abbreviation" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="County">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
                  <xs:element minOccurs="0" maxOccurs="1" name="FIPS" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="State" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="AreaCode" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="TimeZone">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
                  <xs:element minOccurs="0" maxOccurs="1" name="Code" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="Latitude" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Longitude" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="LastLineIndicator" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="LastLineNumber" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="PreferredLastLineNumber" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="FacilityCode" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>