ZipSearchSOAP/Service References/dqwsZipSearch/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:MelissaDataZipSearchService" elementFormDefault="qualified" targetNamespace="urn:MelissaDataZipSearchService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://zipsearch.melissadata.net/v2/SOAP/Service.svc?xsd=xsd1" namespace="urn:mdWebServiceZipSearch" />
  <xs:element name="doZipSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="urn:mdWebServiceZipSearch" minOccurs="0" maxOccurs="1" name="Request" type="q1:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="doZipSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="urn:mdWebServiceZipSearch" minOccurs="0" maxOccurs="1" name="doZipSearchResult" type="q2:ResponseArray" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>